.container {
    text-align: center;
    margin-top: 50px;
  }
  
  .input-monto {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .boton-confirmar {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .boton-monto {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-volver {
    background-color: gray;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    position: absolute;
    top: 20px;    
    left: 20px;
  }